.h1{
    text-align: center;
    margin: 10px ;
    padding: 10px;
    font-size: 85px;

}
.h3{
    padding-left: 150px;
    

}
#generate{
    text-align: center;
    justify-content: center;
}



/* cv form */
#CV-form{
    /* display: none; */
}

.profile{
    border-radius: 96%;
    width: 198px;
    margin: 18px;
    margin-left: 10px;

}
.background{
    background-color: aqua;

}

#cv-template{
    display: none;
}
.template{
    height: 100vh;
}